<div class="hero" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-4xl">
      <h1 class="my-5 text-5xl font-extrabold"><%= @season.name %></h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div>

<div class="hero bg-base-100 min-h-screen">
  <div class="mx-auto max-w-md text-center md:max-w-full">
    <div class="my-20 flex flex-col w-full lg:flex-row">
      <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        <h2 class="p-4 text-2xl text-center font-extrabold">EU ladder</h2>
        <div class="overflow-x-auto">
          <table class="table table-compact table-zebra w-full">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Rating</th>
                <th>Wins</th>
                <th>Defeats</th>
              </tr>
            </thead>
            <tbody>
              <% @eu_players.each do |player| %>
                <tr>
                  <th>
                    <%= player["rank"] %>
                    <%= "🥇" if player["rank"].eql?(1) %>
                    <%= "🥈" if player["rank"].eql?(2) %>
                    <%= "🥉" if player["rank"].eql?(3) %>
                  </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div>
                        <div class="font-bold"><%= player["name"] %></div>
                        <div class="text-sm opacity-50">EU</div>
                      </div>
                    </div>
                  </td>
                  <td><%= player["scores"][0]["value"] %></td>
                  <td><%= player["scores"][1]["value"] %></td>
                  <td><%= player["scores"][2]["value"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> 
      </div>
      <div class="divider lg:divider-horizontal"></div> 
      <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        <h2 class="p-4 text-2xl text-center font-extrabold">NA ladder</h2>
        <div class="overflow-x-auto">
          <table class="table table-compact table-zebra w-full">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Rating</th>
                <th>Wins</th>
                <th>Defeats</th>
              </tr>
            </thead>
            <tbody>
              <% @na_players.each do |player| %>
                <tr>
                  <th>
                    <%= player["rank"] %>
                    <%= "🥇" if player["rank"].eql?(1) %>
                    <%= "🥈" if player["rank"].eql?(2) %>
                    <%= "🥉" if player["rank"].eql?(3) %>
                  </th>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div>
                        <div class="font-bold"><%= player["name"] %></div>
                        <div class="text-sm opacity-50">NA</div>
                      </div>
                    </div>
                  </td>
                  <td><%= player["scores"][0]["value"] %></td>
                  <td><%= player["scores"][1]["value"] %></td>
                  <td><%= player["scores"][2]["value"] %></td>
                </tr>
              <% end %>
              </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
