<div class="hero" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-4xl">
      <h1 class="my-5 text-5xl font-extrabold">Players <span class="badge badge-warning badge-5xl">ALPHA</span></h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div>

<div class="hero bg-base-100 min-h-screen">
  <div class="mx-auto max-w-md text-center md:max-w-full">
    <div class="my-20 flex flex-col w-full lg:flex-row">
      <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        <h2 class="p-4 text-2xl text-center font-extrabold">Top PvP Players</h2>
        <div class="overflow-x-auto">
          <table class="table table-compact table-zebra w-full">
            <thead>
              <tr>
                <th>Name</th>
                <th>Best rank</th>
                <th>Best rating</th>
              </tr>
            </thead>
            <tbody>
              <% @top_3_players.order([:best_rank, best_rating: :desc]).each do |player| %>
                <tr>
                  <th>
                    <%= link_to player.igname, player_path(player) %>
                  </th>
                  <td>
                    <% if player.best_rank.eql?(1) %>
                      <span class="text-xl">🥇</span>
                    <% elsif player.best_rank.eql?(2) %>
                      <span class="text-lg">🥈</span>
                    <% elsif player.best_rank.eql?(3) %>
                      <span class="text-md">🥉</span>
                    <% end %>
                    <%= player.best_rank %>
                  </td>
                  <td>
                    <%= player.best_rating %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div> 
      </div>
      <div class="divider lg:divider-horizontal"></div> 
      <div>
        <h2 class="p-4 text-2xl text-center font-extrabold">Players with titles <span class="badge badge-warning badge-5xl">ALPHA</span></h2>
        <div class="overflow-x-auto">
          <table class="table table-compact table-zebra w-full">
            <thead>
              <tr>
                <th>Name</th>
                <th>Titles</th>
                <th>Achievements</th>
              </tr>
            </thead>
            <tbody>
              <% @players_with_titles.order(:igname).each do |player| %>
                <tr>
                  <th>
                    <%= link_to player.igname, player_path(player) %>
                  </th>
                  <td>
                    <%= player.titles.count %>
                  </td>
                  <td>
                    <%= player.done_achievements.count %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <th colspan="3">
                  <%= link_to "I want my profile page", "https://discord.gg/cbsf2hwmcv", class: "btn btn-primary" %>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

