<div class="hero" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-4xl">
      <h1 class="my-5 text-5xl font-extrabold"><%= t "players.plural" %> <span class="badge badge-warning badge-5xl">ALPHA</span></h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div>

<div class="hero bg-base-100 min-h-screen">
  <div class="mx-auto max-w-md text-center md:max-w-full">
    <div class="md:mt-20 mb-4">
      <%= form_with(url: players_path, method: :get, class: "grid md:grid-cols-2 gap-2") do |form| %>
        <div class="form-control w-full max-w-xs">
          <%= form.label :q, t("players.singular"), class: "label" %>
          <%= form.text_field :q, value: @q, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <div class="form-control w-full max-w-xs">
          <%= form.submit "Search", class: "md:mt-10 btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="mb-20 flex flex-col w-full lg:flex-row">
      <div>
        <h2 class="p-4 text-2xl text-center font-extrabold"><%= t "players.plural" %> <span class="badge badge-warning badge-5xl">ALPHA</span></h2>
        <div class="overflow-x-auto">
          <table class="table table-compact table-zebra w-full">
            <thead>
              <tr>
                <th><%= t "players.name" %></th>
                <th><%= t "titles.plural" %></th>
                <th><%= t "achievements.plural" %></th>
              </tr>
            </thead>
            <tbody>
              <% @players.each do |player| %>
                <tr>
                  <th>
                    <%= link_to player.igname, player_path(player) %>
                  </th>
                  <td>
                    <%= player.titles.count %>
                  </td>
                  <td>
                    <%= player.done_achievements.count %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <th colspan="3">
                  <%= link_to t("players.register"), new_player_path, class: "btn btn-primary font-bold" %>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="divider lg:divider-horizontal"></div>

      <div class="grid flex-grow card bg-base-300 rounded-box place-items-center">
        <h2 class="p-4 text-2xl text-center font-extrabold"><%= t "players.pvp.top" %></h2>
        <div data-controller="read-more" data-read-more-more-text-value="<%= t "show.more" %>" data-read-more-less-text-value="<%= t "show.less" %>" class="overflow-x-auto">
          <div data-read-more-target="content">
            <table class="table table-compact table-zebra w-full">
              <thead>
                <tr>
                  <th><%= t "players.name" %></th>
                  <th><%= t "players.rank.best" %></th>
                  <th><%= t "players.rating.best" %></th>
                </tr>
              </thead>
              <tbody> 
                <% @top_3_players.order([:best_rank, best_rating: :desc]).first(10).each do |player| %>
                  <tr>
                    <th>
                      <%= link_to player.igname, player_path(player) %>
                    </th>
                    <td>
                      <% if player.best_rank.eql?(1) %>
                        <span class="text-xl">🥇</span>
                      <% elsif player.best_rank.eql?(2) %>
                        <span class="text-lg">🥈</span>
                      <% elsif player.best_rank.eql?(3) %>
                        <span class="text-md">🥉</span>
                      <% end %>
                      <%= player.best_rank %>
                    </td>
                    <td>
                      <%= player.best_rating %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <button data-action="read-more#toggle" class="btn btn-primary my-5"><%= t "show.more" %></button>

          <template data-read-more-target="full">
            <table class="table table-compact table-zebra w-full">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Best rank</th>
                  <th>Best rating</th>
                </tr>
              </thead>
              <tbody> 
                <% @top_3_players.order([:best_rank, best_rating: :desc]).each do |player| %>
                  <tr>
                    <th>
                      <%= link_to player.igname, player_path(player) %>
                    </th>
                    <td>
                      <% if player.best_rank.eql?(1) %>
                        <span class="text-xl">🥇</span>
                      <% elsif player.best_rank.eql?(2) %>
                        <span class="text-lg">🥈</span>
                      <% elsif player.best_rank.eql?(3) %>
                        <span class="text-md">🥉</span>
                      <% end %>
                      <%= player.best_rank %>
                    </td>
                    <td>
                      <%= player.best_rating %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </template>
        </div> 
      </div>

    </div>
  </div>
</div>

