<div class="hero" style="background-image: url(<%= image_path 'texture_crystal2_s.jpg' %>);">
  <div class="hero-overlay bg-opacity-10"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-4xl">
      <h1 class="my-5 text-5xl font-extrabold"><%= @player.igname %> <span class="badge badge-warning badge-5xl">ALPHA</span></h1>
      <p class="mb-5"></p>
    </div>
  </div>
</div>

<div class="hero bg-base-100 min-h-screen">
  <div class="mx-auto max-w-md text-center md:max-w-full">
    <% if @player.best_rank.present? %>
      <div class="flex flex-col w-full lg:flex-row">
        <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center">
          <p class="text-2xl font-extrabold">
          <%= t "players.rank.best" %><br>
          <% if @player.best_rank.eql?(1) %>
            <span class="text-5xl">🥇</span>
          <% elsif @player.best_rank.eql?(2) %>
            <span class="text-4xl">🥈</span>
          <% elsif @player.best_rank.eql?(3) %>
            <span class="text-3xl">🥉</span>
          <% else %>
            <%= @player.best_rank %>
          <% end %>
          </p>
        </div> 
        <div class="divider lg:divider-horizontal"><%= t "and" %></div> 
        <div class="grid flex-grow h-32 card bg-base-300 rounded-box place-items-center">
          <p class="text-2xl font-extrabold"><%= t "players.rating.best" %><br><%= @player.best_rating %></p>
        </div>
      </div>
    <% end %>

    <% if defined?(@titles) && @titles.any? %>
      <div class="flex flex-col w-full lg:flex-row">
        <div>
          <h2 class="mb-5 text-4xl font-extrabold"><%= t "titles.plural" %></h2>
          <div class="stats shadow">
            <div class="stat">
              <div class="stat-title"><%= t "titles.count" %></div>
              <div class="stat-value text-success"><%= @titles.count %></div>
              <div class="stat-desc"></div>
            </div>
          </div>
          <div data-controller="reveal" data-reveal-hidden-class="hidden" class="overflow-x-auto">
            <button data-action="click->reveal#toggle" type="button" class="btn btn-primary mb-5"><%= t "toggle_me" %></button>
            <table data-reveal-target="item" class="hidden table table-compact table-zebra w-full">
              <thead>
                <tr>
                  <th></th>
                  <th><%= t "titles.singular" %></th>
                </tr>
              </thead>
              <tbody>
                <% @titles.each do |title| %>
                 <tr>
                   <td>
                     <% if title.icon_url.present? %>
                       <%= image_tag title.icon_url %>
                     <% end %>
                   </td>
                   <th>
                     <%= title.name.html_safe %>
                   </th>
                 </tr>
               <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="divider lg:divider-horizontal"></div> 
        <div>
          <% if @player.achievements.any? %>
            <h2 class="mb-5 text-4xl font-extrabold"><%= t "achievements.plural" %></h2>
            <div class="stats shadow">
              <div class="stat">
                <div class="stat-title"><%= t "achievements.done.count" %></div>
                <div class="stat-value text-success"><%= @player.done_achievements.count %></div>
                <div class="stat-desc"></div>
              </div>
            </div>

            <div data-controller="reveal" data-reveal-hidden-class="hidden" class="overflow-x-auto">
              <button data-action="click->reveal#toggle" type="button" class="btn btn-primary mb-5"><%= t "toggle_me" %></button>
              <table data-reveal-target="item" class="hidden table table-compact table-zebra w-full">
                <thead>
                  <tr>
                    <td></td>
                    <th><%= t "achievements.singular" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @player.done_achievements.each do |achievement| %>
                    <tr>
                      <td>
                        <% if achievement.icon_url.present? %>
                          <%= image_tag achievement.icon_url %>
                        <% end %>
                      </td>
                      <th>
                        <%= achievement.name %>
                      </th>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <div class="my-5 stats shadow">
              <div class="stat">
                <div class="stat-title"><%= t "achievements.current.count" %></div>
                <div class="stat-value text-warning"><%= @player.current_player_achievements.count %></div>
                <div class="stat-desc"></div>
              </div>
            </div>

            <div data-controller="reveal" data-reveal-hidden-class="hidden" class="overflow-x-auto">
              <button data-action="click->reveal#toggle" type="button" class="btn btn-primary mb-5"><%= t "toggle_me" %></button>
              <table data-reveal-target="item" class="hidden table table-compact table-zebra w-full">
                <thead>
                  <tr>
                    <td><%= t "achievements.current.progress" %></td>
                    <td></td>
                    <th><%= t "achievements.singular" %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @player.current_player_achievements.each do |player_achievement| %>
                    <tr>
                      <td>
                        <div class="radial-progress" style="--value:<%= player_achievement.progress %>; --size:3rem"><%= player_achievement.progress %>%</div>
                      </td>
                      <td>
                        <% if player_achievement.achievement.icon_url.present? %>
                          <%= image_tag player_achievement.achievement.icon_url %>
                        <% end %>
                      </td>
                      <th>
                        <%= player_achievement.achievement.name %>
                      </th>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
